*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html,body{
    height:100%;
    width:100%;
}
.section1{
    height:100%;
    width:100%;
    position: relative;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 50px;
}
.part2{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:50px;


}
nav h1{
    font-size: 30px;
    gap:10px;

}
nav h1 i{
    display:inline-block;
    rotate:45deg;

}
nav h4{
    font-size: 20px;
    font-weight: 500;
}
nav button{
    padding:10px 20px;
    font-size: 15px;
    border-radius: 10px;
    border:1px solid;
    background-color: transparent;
}
.center{
    width:100%;
    height:80%;
    display: flex;
    padding:45px 45px;
}
.center-part1{
    
    height:100%;
    width:45%;
}
.center-part1 h1{
    line-height: 1.2;
    font-size:80px;


}
.center-part1 p{
    width:90%;
    font-size:20px;
    margin:10px;


}
.center-part2{
    height:100%;
    width:55%;

    
}
.center-part2 img{
    height:100%;
    width:70%;
    margin-left: 150px;

    
}
.center-part1 button{
    background-color: black;
    margin-top: 15px;
    color:white;
    border-radius: 10px;
    padding:18px 30px;
    font-size:15px ;
}
.section1bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 30px;
    margin-left: 10px;

}
.section1bottom img{
    height:40px;
}
.section2 .services{
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.services h3{
    background-color: #9AE975;
    font-weight: 500;
    padding:10px 10px;
    border-radius:10px;
    font-size: 30px;
}
.services p{
    width:40%;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 12px;
}
.container{
    height:80%;
    width:100%;
    padding:45px 45px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 
.elem{
    flex-shrink: 0;
    height:350px;
    width:48%;
    margin-top:45px;
    border:3px solid black;
    border-radius: 30px;
    padding:50px;
    box-shadow: 0px 10px 0px #9AE975;
    display:flex;
}
.elem-part1{
    height:100%;
    width:50%;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction:column;
}
.elem-part2{
    height:100%;
    width:50%;
}
.elem-part2 img{
    height:100%;
}
.elem-part1 h2{
    font-size: 35px;
    font-weight:500 ;
    width:70%;
    padding:0px 8px;
    border-radius: 10px;
    background-color: #9AE975;
}
.elem-part1 h4{
    display:flex;
    align-items:center;
    font-size:25px;
    font-weight: 500;
    gap:20px;
}
.black{
    background-color: black;
    color:white;
}
